
<footer>
            
    <div class="container-fluid" style="padding-top:70px;height: auto;">
      <div class="row " style="color:white">

        <div class="col-lg-4 col-sm-12 col-md-12" >
         <h3 style="color:white">nos magasins</h3>
     
         <ul style="list-style:none;margin-left:0;padding-left:0;" *ngFor="let boutique of boutiques">
          <li>{{boutique.lib_boutique}}</li>
         
         </ul>

        </div>
        <div class="col-lg-4 col-sm-12 col-md-12" >
         <h5 style="color:white">CONTACT<br></h5>
      
      <table>
      <tr>
        <th><i class="fa fa-phone"style="font-size:28px;color:#ffffffe3"></i></th>
        <th style=" font-weight: normal;">&nbsp;&nbsp;&nbsp;+216 71 698 697</th>
      </tr>
      <tr>
        <td> </td>
        <td>&nbsp;&nbsp;&nbsp;+216 51 698 697</td>
      </tr>
      <tr>
        <td>&nbsp; </td>
        <td> &nbsp;</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope"style="font-size:28px;color:#ffffffe3"></i></td>
        <td>&nbsp;&nbsp;&nbsp;bluetwins@gmail.com</td>
      </tr>
    </table>
      
      
        </div>            
        <div class="col-lg-4 col-sm-12 col-md-12">
          <form  (submit)="onSubmit($event)" >
        <div >
          <h6 style="font-size:20px">NEWSLETTER</h6>
          <input type="text" #emailControl
          myEmailControl name='news'style="width:200px;height:30px;border: 1px solid;"><button type="submit">suscribe</button>
      </div>
      </form>
      <br>
         <h5 style="color:white;">FOLLOW US<br></h5>
       <p class="row social-media">
       <i class="fa fa-facebook-square col-1"style="font-size:28px;color:#ffffffe3"></i>
       <i class="fa fa fa-instagram col-1"style="font-size:28px;color:#ffffffe3"></i>
       <i class="fa fa fa-twitter-square col-1"style="font-size:28px;color:#ffffffe3"></i>
       <i class="fa fa fa-linkedin-square col-1"style="font-size:28px;color:#ffffffe3"></i>
       </p>
      
        </div>
      </div>
    </div>
    <div style="background-color: white; text-align: center;">
        <p style="font-weight: bold;">© copyright 2019 | GudzBulk</p>
        </div>
    </footer>