<app-navbar></app-navbar>

<app-cover></app-cover>
<div class="container">
    <div class="justify-content-center" >
    

      <div >
       <!-- sinner -->
       
        <div class="row" >
           
          <div class="card col-xs-12 col-sm-6 col-lg-3 col-xl-3 col-md-6" *ngFor="let article of Articles">
            
            <a  [routerLink]="['/detail',article.id_article]" > 
              <img class="card-img-top" [src]="article.img_article" alt="Card image cap"   >
              <div class="card-body">
                <h5 class="card-title">{{article.designation}}</h5> 
                <p class="card-text"><small class="text-muted">{{article.prix}} TND</small></p>
                
              </div>
            
            </a> 
          </div>               
        </div>

</div>

</div>
</div>
 


<app-footer></app-footer>