<app-navbar-admin></app-navbar-admin>

<div class="container ">
  <h1>Ajouter Staff</h1>
<form [formGroup]="registerForm"   #userForm (ngSubmit)="onFormSubmit($event)" >
    <div class="form-group">
      <input required type="text" class="form-control" id="exampleInputdesignation1" name="nom" aria-describedby="designationHelp"  placeholder="Enter nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" formControlName="nom" >
      <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
        <div *ngIf="f.nom.errors.required"> nom obligatoire</div>
    </div>
    </div>
    <div class="form-group">
        <input required type="text" class="form-control" id="exampleInputdesignation1" name="prenom" aria-describedby="designationHelp"  placeholder="Enter prenom" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" formControlName="prenom" >
        <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
          <div *ngIf="f.prenom.errors.required"> prenom obligatoire</div>
      </div>
      </div>
    <div class="form-group">
        <input  type="number" class="form-control"  id="exampleInputprix1" name="tel" aria-describedby="prixHelp"  placeholder="Enter num tel" required [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" formControlName="tel" >
        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
          <div *ngIf="f.tel.errors.required">  telephone   obligatoire</div>
      </div>
      </div>
      
      <div class="form-group">
        <input type="text" class="form-control"  id="exampleInputtva1" name="login" aria-describedby="tvaHelp"  placeholder="Enter login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" formControlName="login" >
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
          <div *ngIf="f.login.errors.required">   email obligatoire</div>
      </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  id="exampleInputremise1" name="password" aria-describedby="remiseHelp"  placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" >
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">   password obligatoire</div>
      </div>
      </div> 
      <div class="form-row">
        <div class="col">

          <label for="exampleFormControlSelect1" style="opacity: 0.7;">Région</label>
          <select name="state"  id="exampleFormControlSelect1" [value]='stateCount'  class="rounded-inputs20 select-select form-control" (change)="onChangeState($event.target.value)"  >
          <option *ngFor="let country of countries"   [value]="country.id_state">{{country.lib_state}}</option>
         </select>        
        </div>
        <div class="col">

        <label for="sel1" style="opacity: 0.7;">Ville</label>
      
        <select id="sel1" name="city" [value]="cityCount" class="rounded-inputs20 select-select form-control form-control-line" #adresseInput (change)='modifier()' >
        <option *ngFor="let ct of city" [value]="ct.id_city">{{ct.lib_city}}</option>  
        </select>
      </div>
      </div>     

    <!--   
      <input class="custom-file-input"
      type="file" id="file" name="file" (change)="onFileChanged($event)"
      #file>
    <label (click)="file.click()">Select File</label>
    <span (click)="onUpload()">Upload!</span>
    -->

      <br>
      <br>

      
    <button  class="btn btn-primary"> Ajouter </button>
  </form>

</div>
