<app-navbar-espace-client></app-navbar-espace-client>

<aside class="left-sidebar">
    
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li> <a class="waves-effect waves-dark"  routerLinkActive="active"  routerLink="/profil"  aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLinkActive="active"  routerLink="/voscommande" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Vos commande</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/favorie" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu"></span>Votre liste d'envies</a></li>
                <li> <a class="waves-effect waves-dark" routerLinkActive="active"  routerLink="/modifiermdp" aria-expanded="false"><i class="fa fa-warning" style="font-size:15px;color:red"></i><span class="hide-menu"></span>Modifier votre mot de passe
                </a></li>
                
            </ul>
        </nav>
        </div>
  
    <!-- End Sidebar scroll-->
</aside>
<div class="page-wrapper"> 


    
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center "  >
                <h4 class="text-themecolor">Profile</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">detail commande</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-10 " style="margin-left: 15%;">
            <div class="card "  >
                <div class="card-head " >
                    <h5 class="card-header" ><i class="fa fa-arrow-left"  routerLinkActive="active"  routerLink="/voscommande"></i>  Détails de la commande</h5>
                   <div class='row'>
                    <div class="card-body col-5">
                        <h5  class="card-header" style="font-weight: bold;" >Commande n° {{commande.id_cmd}} 
                              <span style="width: 100px;text-align:center;  font-size: 14px;" *ngIf="commande.etatcommande.etatcmd=='Livrée'" class="float-right label label-success font-size=20px">{{commande.etatcommande.etatcmd}}</span>
                               <span  style="width: 100px;text-align:center;  font-size: 14px;" *ngIf="commande.etatcommande.etatcmd=='Annulée'" class="float-right label label-danger font-size=20px">{{commande.etatcommande.etatcmd}}</span>
                               <span style="width: 100px;text-align:center; font-size: 14px;" *ngIf="commande.etatcommande.etatcmd=='En attente de confirmation'" class="float-right label label-warning font-size=20px">{{commande.etatcommande.etatcmd}}</span>
                               <span style="width: 100px;text-align:center; font-size: 14px;" *ngIf="commande.etatcommande.etatcmd=='Confirmé'" class="float-right label label-info font-size=20px">{{commande.etatcommande.etatcmd}}</span>
                                        
                        </h5> 
                        <div  style="padding-left: 20px;padding-top: 20px;">
                        <p><b>{{commande.commande_prod.length}}  Article</b><span *ngIf='commande.commande_prod.length>1'>s</span></p>
                        <p>Placée le <b>{{commande.date_cmd}}</b></p>
                        <p>Prix total:<b> {{commande.prix_total}} TND</b></p>
                        </div>
                    </div>
                    <div class="card-body col-7">
                        <h5  class="card-header" style="font-weight: bold;">livraison</h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;"> Methode de livraison </h6>
                     <div *ngIf='!commande.boutique'>
                        <p> Livraison domicile</p>


                        <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;"> Adresse de livraison</h6>
                        <p>{{user.nom}} {{user.prenom}}</p>

                            <p>{{commande.adresse.lib_adresse}}</p>
                            
                           <p> {{commande.adresse.city.lib_city}}, {{commande.adresse.city.state}}</p>
                    </div>
                    <div *ngIf='commande.boutique'>
                        <p> Livraison en point relais </p>


                        <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;"> Adresse de boutique</h6>
                            <p>{{commande.boutique.lib_boutique}}</p>

                            <p>{{commande.boutique.adresse.lib_adresse}}, {{commande.boutique.adresse.city.lib_city}}, {{commande.boutique.adresse.city.state}}</p>
                    </div>
                </div>
                    </div>
                    <div class="card-body"  >
                        <h5  class="card-header" style="font-weight: bold;margin-bottom: 30px;"  >ARTICLES DANS VOTRE COMMANDE</h5>

                   
                    <div class="card flex-row flex-wrap" *ngFor="let article of commande.commande_prod">
                        <div class="card-header border-0">
                            <img [src]="article.article.img_article" width="150px" alt="">
                        </div>
                        <div class="card-block px-2">
                            <h4 class="card-title"><b>{{article.article.designation}}</b></h4>
                            <p>Ttaille : {{article.taille}}</p>
                        <p>Prix {{article.article.prix}} TND</p>
                        <p>Quantité : {{article.quantite}} </p>
                        </div>
                        <div class="w-100"></div>
                     
                    </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <br>


