<app-navbar-espace-client></app-navbar-espace-client>
<aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
        <a class="waves-effect waves-dark ml-auto hidden-sm-down" href=""><i class="ti-menu"></i></a>
        <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href=""><i class="ti-menu ti-close"></i></a>
    </div>
         <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profil"><i class="fa fa-user-circle"  style="font-size:28px;"></i>&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="cursor:pointer;" *ngIf='user' (click)='deconnexion()' ><i class="fa fa-sign-out"  style="font-size:30px;"></i>&nbsp;&nbsp;</a>
          </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/panier"><i class="fa fa-shopping-bag"  style="font-size:25px;"></i>&nbsp;&nbsp;<span class="badge badge-primary" style="font-size:15px;opacity: 0.5;">{{nbrArticles}}</span></a>
                </li>
            </ul>
        </div>   
    

    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li> <a class="waves-effect waves-dark"    aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLinkActive="active"  routerLink="/voscommande" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Vos commande</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/favorie" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu"></span>Votre liste d'envies</a></li>
           
              
            </ul>
        </nav>
        </div>
  
    <!-- End Sidebar scroll-->
</aside>
<div class="page-wrapper"> 


    
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center " >
                <h4 class="text-themecolor">Profile</h4>
            </div>
      
            
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!--
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="m-t-30"> <img src="../assets/images/users/5.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Hanna Gover</h4>
                            <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                            <div class="row text-center justify-content-md-center">
                                <div class="col-4"><a href="javascript:void(0)" class="link" class="font-medium"><i class="icon-people"></i> </a></div>
                                <div class="col-4"><a href="javascript:void(0)" class="link" class="font-medium"><i class="icon-picture"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             Column -->
           
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7 "style="margin-left: 18%;">
                <div class="card">
                    <!-- Tab panes -->
                    <div class="card-body">
                        <form class="form-horizontal form-material" (ngSubmit)="onFormSubmit($event)">
                            <h5  class="card-header" style="font-weight: bold;margin-bottom: 30px;" >CHANGER VOTRE MOT DE PASSE!</h5>

                                
                                <label>Mot de passe actuel</label>
                                <div class="form-group pass_show" > 
                                    <input type="password" value="" name="mot" class="form-control" placeholder="Current Password"> 
                                </div> 
                                   <label>Nouvelle mot de passe </label>
                                <div class="form-group pass_show"> 
                                    <input type="password" [value]="" name="mot1" class="form-control" placeholder="New Password"> 
                                </div> 
                                   <label>Confiermer mot de passe</label>
                                <div class="form-group pass_show"> 
                                    <input type="password" [value]="" name="mot2" class="form-control" placeholder="Confirm Password"> 
                                </div> 
                                
                           
                            
                            
                            <div class="form-group">
                                <div class="alert alert-warning" role="alert" *ngIf='message && !success'>
                                    {{message}}
                                  </div>
                                  <div class="alert alert-success" role="alert" *ngIf='success'>
                                    {{success}}
                                  </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-success float-right">modifier mot de passe </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div> <br>




