<app-navbar-admin></app-navbar-admin>

<div class="container ">
    <h1>Modifier Taille</h1>
    <form  [formGroup]="registerForm" (ngSubmit)="onFormSubmit($event)" >
   
    <div class="form-group ">
      <input required type="text" id="exampleInputidtaille1" class="form-control"  name="id" aria-describedby="idHelp"  [value]="taille.id_taille" hidden>
      </div>
      <div class="form-group row">
        <label for="inputId3" class="col-sm-1 col-form-label">Id</label>

        <input required type="text" class="col-sm-10" id="exampleInputid2taille1" name="id2" aria-describedby="id2Help"  [value]="taille.id_taille" disabled>

      </div>
      <div class="form-group">
        <input required type="text" class="form-control" id="exampleInputlibtaille1" name="lib_taille" aria-describedby="designationHelp"  [value]="taille.lib_taille" aria-describedby="categorielibHelp" [ngClass]="{ 'is-invalid': submitted && f.lib_taille.errors }" formControlName="lib_taille"  >
        <div *ngIf="submitted && f.lib_taille.errors" class="invalid-feedback">
          <div *ngIf="f.lib_taille.errors.required"> libellée Taille obligatoire</div>
      </div>
      </div>

    <select class="form-control form-control-sm"  name="categorie_lib" aria-describedby="categorielibHelp" [ngClass]="{ 'is-invalid': submitted && f.categorie_lib.errors }" formControlName="categorie_lib">
      <option  [value]="taille.categorie.id_categorie">--{{taille.categorie.categorie_lib}}--</option>

      <option  *ngFor="let categorie of categories" [value]="categorie.id_categorie">{{categorie.categorie_lib}}</option>
      <div *ngIf="f.categorie_lib.errors"> libellée categorie obligatoire</div>

    </select>
<br>
      <button  class="btn btn-primary">Modifier</button>
    </form>
  </div>