<app-navbar-admin></app-navbar-admin>


<div class="container ">
    <h1>Ajouter Privilege</h1>
   
  <form  [formGroup]="registerForm" (ngSubmit)="onFormSubmit($event)" >
    <div class="form-group">
        <input required type="text" class="form-control" id="exampleInputdesignationcategorie_lib1" name="lib_privilege" aria-describedby="categorielibHelp" [ngClass]="{ 'is-invalid': submitted && f.lib_privilege.errors }" formControlName="lib_privilege"  >
        <div *ngIf="submitted && f.lib_privilege.errors" class="invalid-feedback">
          <div *ngIf="f.lib_privilege.errors.required"> libellée privilege obligatoire</div>
      </div>
      </div>

      <button  class="btn btn-primary">Ajouter</button>
  </form>
</div>